@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');

.header {
  text-align: center;
  margin-top: 3rem;
}

.datapoints-logo {
  margin-top: 18px;
  height: auto;
  width: min(240px, 30vw);
}

.content-section-blue {
  width: 100%;
  background-color: rgba(1, 31, 91, 0.1);
  padding: 2rem 0.625rem;
  text-align: center;
}

.blog-title {
  font-family: Optima, sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 10px;
  color: #011f5b;
}

.title-underline {
  width: 100%;
  max-width: 600px;
  height: 0.1875rem;
  background-color: #990000;
  margin: 5px auto;
}

.blog-description {
  color: #011f5b;
  font-family: Optima, sans-serif;
  font-size: 1.25em;
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.5;
}

.author-section {
  font-family: Optima, sans-serif;
  color: #666666;
  font-size: 1.125em;
}

.author-section a {
  text-decoration: underline;
  color: inherit;
  transition: color 0.3s ease;
}

.author-section a:hover {
  color: #fc4375;
}

.date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.date-divider {
  width: calc(100% - 90%);
  margin: 0.875rem auto;  /* centers the line and adds vertical spacing */
  height:  0.125rem;
  background-color: rgba(1, 31, 91, 0.7);
}

.post-date {
  font-family: 'Crimson Text', serif;
  font-size: 1.125em;
  color: #011f5b;
  margin: 15px 0;
}

/* Main part layout */
.main {
  display: flex;
  max-width: 1400px;
  margin: 3rem auto 0;
  padding: 0 1rem;
  gap: 2rem;
}

.author-info {
  flex: 1;
  margin-right: -0.5rem;
}

.author-container {
  flex: 1;
  margin-right: -0.5rem;
  margin-bottom: 1.5625rem;
}

.blog-content {
  flex: 3;
}

.about-post {
  flex: 1;
}

.vertical-divider {
  width: 1px;
  border-left: 1px dashed rgba(153,0,0,0.8);
}

.author-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.author-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-name {
  font-family: Optima, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0 0 8px 0;
  text-align: center;
}

.author-name a {
  color: #011f5b;
  text-decoration: none;
  transition: color 0.3s ease;
}

.author-name a:hover {
  color: #fc4357;
}

.author-title {
  font-family: Optima, sans-serif;
  font-size: 0.875em;
  color: #666666;
  margin: 0;
  text-align: center;
}

.author-info {
  margin-right: 1.875rem;
}

/* About this post */
.about-post-title {
  color: #990000;
  font-size: 1.25em;
  font-weight: bold;
  font-family: Optima, sans-serif;
}

.about-post-text {
  font-size: 1.125em;
  font-weight: 400;
  color: #011f5b;
  margin-top: -0.3125rem;
  text-indent: 1rem;
  font-family: 'Crimson Text', serif;
}

.source-code-link {
  color: #990000;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.source-code-link:hover {
  color: #fc4357;
}

.about-post-underline {
  max-width: 25rem;
  margin-top: 1.25rem;
  background-color: rgba(1, 31, 91, 0.7);
  height: 0.0625rem;
}

.social-share {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 1rem;
}

.social-icon {
  width: 21px;
  height: 21px;
  transition: stroke 0.3s ease;
}
.social-share svg {
  stroke: #011f5b;
}

.social-share svg:hover {
  stroke: #fc4375;
}

/* Subscription section */

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 300px;
}

#mc_embed_signup .mc-field-group input {
  border: 1px solid #011f5b;
  border-radius: 15px;
  height: 1.25rem;
}

#mc_embed_signup .mc-field-group input:hover {
  border: 1px solid #fc4375;
}

#mc_embed_signup .mc-field-group input:invalid {
  border: 1px solid #fc4375;
}

#mc_embed_signup_scroll {
  font-family: Optima, sans-serif;
  color: #011f5b;
}

.mc-field-group{
  margin: 0;
  padding: 0;
  color: #fc4375;
}

#mc_embed_signup_scroll h2 {
  font-size: 1rem !important;
  font-family: Optima, sans-serif;
  color: #011f5b;
  margin: 0;
  padding: 0;
}

#mc_embed_signup #mc-embedded-subscribe.button {
  background: linear-gradient(to bottom right, #ec4899, #fb923c) !important;
  display: flex;
  font-family: Optima, sans-serif !important;
  border: 2px solid transparent !important;
  border-radius: 10px !important;
}

#mc_embed_signup #mc-embedded-subscribe.button:hover {
  border: 2px solid #011f5b !important;
}

#mc_embed_shell {
  margin-left: -1.25rem;
}

.blog-content {
  font-family: Palatino, URW Palladio L, serif;
  font-size: 1.125rem; /* 15px */
  line-height: 1.5;
  color: #1a1a1a;
}

.reading-time-container {
  font-family: Optima, sans-serif;
  font-size: 1.125rem; 
  line-height: 1.5;
  color: #666666;
}
