<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">

  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/responsive.css' | relative_url }}">
  
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        processEscapes: true,
        processEnvironments: true
      },
      options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        processHtmlClass: 'tex2jax_process'
      },
      startup: {
        pageReady: function() {
          return MathJax.startup.defaultPageReady();
        }
      }
    };
  </script>
  <script id="MathJax-script" async 
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>
</head>

<body>
  <div class="header">
    <a href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/images/logo/DP_logo_d.png' | relative_url }}" alt="Datapoints Logo" class="datapoints-logo">
    </a>
  </div>

  <div class="content-section-blue">
    <h1 class="blog-title">{{ page.title }}</h1>
    <div class="title-underline"></div>
    <p class="blog-description">{{ page.subtitle }}</p>
    
    <div style="display: flex; justify-content: center; gap: 1rem; align-items: center;">
      <div class="author-section">
        By
        {% for author in page.authors %}
          {% if forloop.last and forloop.length > 1 %}
            and <a href="{{ author | split: '(' | last | split: ')' | first }}">{{ author | split: '[' | last | split: ']' | first }}</a>
          {% elsif forloop.last %}
            <a href="{{ author | split: '(' | last | split: ')' | first }}">{{ author | split: '[' | last | split: ']' | first }}</a>
          {% else %}
            <a href="{{ author | split: '(' | last | split: ')' | first }}">{{ author | split: '[' | last | split: ']' | first }}</a>,
          {% endif %}
        {% endfor %}
      </div>

      <span style="color: #666666;">·</span>

      <div class="reading-time-container">
        {% include reading-time.html %}
      </div>
      
    </div>
  </div>

<div class="date-container">
  <div class="date-divider"></div>
  {{ page.date | date: "%B %d, %Y" }}
  <div class="date-divider"></div>
</div>


<div class="main">
  <div class="author-info">
    <div class="author-container">
      <div class="author-pic">
        {% if page.author_pic %}
          <img src="{{ page.author_pic[0] | relative_url }}" alt="Author Picture">
        {% endif %}
      </div>
      <h2 class="author-name"><a href="{{ page.authors[0] | split: '(' | last | split: ')' | first }}">{{ page.authors[0] | split: '[' | last | split: ']' | first }}</a></h2>
      <p class="author-title">{{ page.author_title[0] }}</p>
    </div>

    <div class="author-container">
      <div class="author-pic">
        {% if page.author_pic[1] %}
          <img src="{{ page.author_pic[1] | relative_url }}" alt="Author Picture">
        {% endif %}
      </div>
      <h2 class="author-name">{{ page.authors[1] | split: '[' | last | split: ']' | first }}</h2>
      <p class="author-title">{{ page.author_title[1] }}</p>
    </div>

    
  </div>

  <div class="vertical-divider"></div>

  <div class="blog-content">
    {{ content }}
  </div>

  <div class="vertical-divider"></div>

  <div class="about-post">
    <!-- About this post content -->
    <h3 class="about-post-title">About this post</h3>
    <p class="about-post-text">
      Check our source code <a href="https://github.com/dddiscovery/datapoints" class="source-code-link">here</a>
    </p>

    <div class="about-post-underline"></div>

    <h3 class="about-post-title">Share this post</h3>
    <div class="social-share">
      <!-- Bluesky -->
      <a href="https://bsky.app/intent/compose?text={{ page.summary | url_encode }}%0A%0ADive%20in%3A%20https://dddiscovery.github.io/datapoints{{ page.permalink }}%0A%0AFrom%20DDDI%27s%20series%20scientific%20posts%0A%0A@upenndddi.bsky.social" target="_blank" rel="noopener noreferrer">
        <img src="{{ '/assets/images/logo/Bluesky_Logo.png' | relative_url }}" alt="Share on Bluesky" class="social-icon">
      </a>
      
      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://dddiscovery.github.io/datapoints{{ page.permalink }}&title={{ page.title | url_encode }}" target="_blank" rel="noopener noreferrer">
        <img src="{{ '/assets/images/logo/LinkedIn-Logos/LI-In-Bug.png' | relative_url }}" alt="Share on LinkedIn" class="social-icon" style="width: 30px; height: 25px;">
      </a>

      <!-- Link icon -->
      <a href="#" onclick="copyPageUrl()" title="Copy link">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="#011f5b" class="social-icon link-icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
        </svg>
      </a>
    </div>

    <div class="about-post-underline"></div>

    <!-- Email subscription container -->
    <div id="mc_embed_shell">
      <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
      <div id="mc_embed_signup">
          <form action="https://upenn.us11.list-manage.com/subscribe/post?u=2c41167803243255e2e4a1516&amp;id=424f80b7e7&amp;f_id=000b22e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
              <div id="mc_embed_signup_scroll">
                  <h2>Stay tuned for our latest post!</h2>
                  <div class="mc-field-group">
                      <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" placeholder="name@example.com">
                  </div>
                  <div hidden="">
                      <input type="hidden" name="tags" value="8119752">
                  </div>
                  <div id="mce-responses" class="clear foot">
                      <div class="response" id="mce-error-response" style="display: none;"></div>
                      <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                      /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                      <input type="text" name="b_2c41167803243255e2e4a1516_424f80b7e7" tabindex="-1" value="">
                  </div>
                  <div class="optionalParent">
                      <div class="clear foot">
                          <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                          <p style="margin: 0px auto;">
                              <a href="http://eepurl.com/i0TxZw" title="Mailchimp - email marketing made easy and fun">
                                  <span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                                      <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;">
                                  </span>
                              </a>
                          </p>
                      </div>
                  </div>
              </div>
          </form>
      </div>
      <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
      <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  </div>

    <script>
      function copyPageUrl() {
        navigator.clipboard.writeText(window.location.href);
        alert('Link copied to clipboard!');
      }
    </script>

    
  </div>


</div>





</body>
</html>
